.nb-1
{
background-image: url(https://ichef.bbci.co.uk/news/1024/cpsprodpb/e036/live/a1b5bd10-45a4-11ef-af77-8713e5143fed.jpg.webp)
}
.nb-2
{
 background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/812a/live/919cf660-45a8-11ef-af77-8713e5143fed.jpg.webp)  
}
.nb-3
{
 background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/01f1/live/f151f5a0-45cc-11ef-96a8-e710c6bfc866.jpg.webp);   
}
.nb-4
{
 background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1qfP0c.img?w=534&h=300&m=6);   
}
.nb-5
{
 background-image:url(https://ichef.bbci.co.uk/news/1024/cpsprodpb/6718/live/2ebcb950-45fc-11ef-b74c-bb483a802c97.jpg.webp)
}
.nb-6
{
 background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/2bfd/live/8f6ef420-443a-11ef-96a8-e710c6bfc866.jpg.webp);   
}
.nb-7
{
 background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/2dbd/live/b9e08a00-435b-11ef-96a8-e710c6bfc866.jpg.webp);   
}
.nb-8
{
 background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/a2e2/live/37374aa0-4552-11ef-97a8-1de6cd95b291.jpg.webp);    
}
*{
    margin: 0;
    padding: 0;
    color: white;
   
}
div{
   
    height: 300px;
    width: 300px;
}
.container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
body
{
    background-color: rgb(77, 71, 71);
}
.container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.container > div:hover{
    opacity: 0.8;
    transform: scale(0.98);
}
.container > div:nth-of-type(1)
{
    grid-column: 1/3;
}
h1{
    text-align: left;
    margin-top: 50%;
}